/* 
Global css 
*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html, body {
    font-family: 'Varela Round', sans-serif;
}

#app {
    font-family: 'Varela Round', sans-serif;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 
    
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {}

  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
  
  @media (min-width: 481px) and (max-width: 767px) {}
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    .go-to-options{
        position: relative !important;
        bottom: 0  !important;
        left: 0  !important;
        padding: 0  !important;
    }
    .go-to-options li {
        display: inline-block !important;
        margin-bottom: 0 !important;
        padding: 7px !important;
    }
    
  }